<div class="row m-md-5" *ngIf="!loading">
  <div *ngIf="accesstoken== null" class="col-md-6 login">
    <form [formGroup]="loginForm">
      <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Username" value="api@demo.zvendo.online"
          formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
          <div *ngIf="!!f.email.errors.required">Your email is required</div>
          <div *ngIf="!f.email.errors.required && !!f.email.errors.email">Your email is invalid</div>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" value="FjXhMz5Som" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <div *ngIf="submitted && !!f.password.errors" class="invalid-feedback">
          <div *ngIf="!!f.password.errors.required">Enter your password please</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
    </form>
  </div>
</div>
<div *ngIf="accesstoken != null" class="row">
  <div class="col-md-12">
    <div align="center" class="filters-row">
      <button class="btn btn-default filter-button" [ngClass]=" category === 'pillow'? 'selected': ''" (click)="navtoggle('pillow')">Pillow</button>
      <button class="btn btn-default filter-button" [ngClass]=" category === 'mug'? 'selected': ''" (click)="navtoggle('mug')">MUG</button>
      <button class="btn btn-default filter-button" [ngClass]=" category === 'jar'? 'selected': ''" (click)="navtoggle('jar')">JAR</button>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row" infiniteScroll
    [infiniteScrollDistance]="4"
    [infiniteScrollThrottle]="30"
    (scrolled)="onScroll()">
      <div class="col-md-4 card-col" *ngFor="let product of products">
        <div class="card" style="width: 100%;">
          <img class="product-img" src="http://demo.zvendo.online/store/web/media/image/h/{{product.images[0].path}}" style="width: 100%;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Category</h5>
            <h4 class="card-title">
              <strong>
                <a (click)="viewDetails(product.name,product.images[0].path)" >{{product.name}}</a>
              </strong>
            </h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->

          </div>
          <div class="card-footer">
            <span class="float-left">49$</span>
            <span class="float-right">
              <!-- <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a> -->
              <a class="active" data-toggle="tooltip" data-placement="top" title="Added to Wishlist">
                <i class="fa fa-heart"></i>
              </a>
            </span>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
<app-loading-icon *ngIf="loading"></app-loading-icon>
