.card{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.card-body{
    text-align: center;
}
.product-name{
    color: #007bff;
}
.card-col{
    padding-left: 0;
    margin-bottom: 3%;
}
.filters-row{
    margin: 2%;
}
.selected{
    background: transparent;
    color: #f03d6c;
    box-shadow: inset 0 -2px 0 #f03d6c;
}