<section>
    <div class="alert alert-success added-alert" [ngClass]="hidden ? 'hiddenclass' : ''" role="alert">
        {{product}} is added to your cart
      </div>
  <div class="row">
    <div class="col-md-6">
      <img height="400px"src="http://demo.zvendo.online/store/web/media/image/h/{{product_img}}" alt="">
    </div>
    <div  class="col-md-6">
      <div  class="product-info">
        <div  class="product-name">
          <h3  class="title"> {{product}} </h3>
        </div>

        <hr  class="ng-star-inserted">
        <!---->
        <div  class="product-description ng-star-inserted">
          <p  class="product-code">
          <h3  class="short-desc"> Short description </h3>
          <p > Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <!---->
        <hr  class="ng-star-inserted">
        <div  class="product-options">
          <!---->
          <div  class="form-group ng-star-inserted">
            <label  class="control-label" for="billow-size"> Size: </label>
            <div class="size-select">
           <select (change)="ChangingSizeValue($event)" class="form-control ng-untouched ng-pristine ng-valid" id="billow-size"
              title="Pillow size">
              <option  disabled="true">Select size</option>
              <!---->
              <option  value="s" class="ng-star-inserted"> small </option>
              <option  value="l" class="ng-star-inserted"> large </option>
            </select>
            </div>
 
          </div>
          <div  class="form-group">
            <label >Price: </label>
            <div  class="product-price">
              <!---->
              <span NgModel="price" class="current-price ng-star-inserted"> 260 EGP </span>
              <!---->
              <!---->
              <!---->
            </div>
          </div>
        </div>
        <!---->
        <hr  class="ng-star-inserted">
        <div  class="product-action">
          <button type="submit" class="btn btn-primary" (click)="addToCart(product,product_img)">Add to cart</button>
        </div>
        <hr >
      </div>
    </div>
  </div>
</section>