.example-container {
    display: flex;
    flex-direction: column;
    max-height: 600px;
   min-width: 300px;
  
  }
  .conatiner{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%
  }
  .mat-table {
    overflow: hidden;
    /* max-height: 30px; */
  }
  table i{
    font-size: 1.3rem;
}