
 <div class="conatiner">
  <h2>Shopping Cart</h2>
  <div *ngIf="customer_orders.length < 1" class="alert alert-secondary text-center" role="alert">
    No items added yet 
  </div>
  <div class="row" *ngIf="customer_orders.length > 0">

    <table  class="table table-hover table-hover table-bordered">
     <thead>
         <tr>
           <th colspan="4">You have {{customer_orders.length}} items  in Cart</th>
          </tr>
       </thead>
       <thead>
         <tr>
           <th>Image</th>
           <th>Name</th>
           <th>Size</th>
           <th>Price</th>
           <th>Delete</th>
         </tr>
       </thead>
       <tbody>
       
         <tr *ngFor="let order of customer_orders; let i = index">
            <td><img src="http://demo.zvendo.online/store/web/media/image/h/{{order.img}}" height="50px" width="50" ></td>
            <td>{{order.name}}</td>
            <td>{{order.size}}</td>
            <td>${{order.price}}</td>
            <td (click)="removeproduct(order.name, i)"><i class="fa fa-trash-o" aria-hidden="true"></i>
            </td>
         </tr>
             
       
    
       
       </tbody>
      </table>
      <button type="submit" class="btn btn-primary" (click)="checkout()">checkout</button>
  </div>

</div>