<div class="row m-md-5" >
    <div  class="col-md-6 login">
      <form [formGroup]="customerForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Firstname</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Firstname" 
            formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
          <div *ngIf="submitted && !!f.firstname.errors" class="invalid-feedback">
            <div *ngIf="!!f.firstname.errors.required">Your email is required</div>
          </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Lastname</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Lastname" 
            formControlName="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
          <div *ngIf="submitted && !!f.lastname.errors" class="invalid-feedback">
            <div *ngIf="!!f.lastname.errors.required">Your email is required</div>
          </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" 
            formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && !!f.email.errors" class="invalid-feedback">
            <div *ngIf="!!f.email.errors.required">Your email is required</div>
            <div *ngIf="!f.email.errors.required && !!f.email.errors.email">Your email is invalid</div>
          </div>
        </div>
        <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="m" formControlName="gender" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Male
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="f" formControlName="gender">
                  <label class="form-check-label" for="gridRadios2">
                    Female
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
        <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
      </form>
    </div>
  </div>